/* 
  fonts

  font-family: "Alata", sans-serif;
- Weight: 400

  font-family: "Josefin Sans", sans-serif;
- Weight: 300
*/

body, html {
  min-height: 100vh;
  /* width: 80%; */
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

body {
  /* width: 100%; */
  /* overflow: hidden; */
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Alata", sans-serif;
}

.center {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

} 
